@tailwind base;
@tailwind components;
@tailwind utilities;
body {
	@apply bg-gray-800;
	/* @apply flex; */
}
.card {
	align-conter: center;
	border: 1px solid grey;
	overflow: hidden;
	margin-bottom: 10px;
	margin-right: 10px;
}
.card p {
	padding: 1rem;
	text-align: center;
}
.card-grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
input {
	padding: 1rem;
	border: none;
	border-radius: 15px;
	width: 100%;
}
